gradio==3.35.2
accelerate==0.20.3
transformers==4.30.2
sentencepiece==0.1.99
langchain==0.0.174
retry
timedelta
prompt-toolkit==3.0.39

paddlepaddle==2.4.2
paddleocr~=2.6.1.3
nltk~=3.8.1
feedparser
html2text
unstructured[local-inference]

# chatgpt
revChatGPT==6.6.1

# baichuan
transformers_stream_generator==0.0.4

# ai friend
pypinyin
sentence_transformers
faiss-cpu==1.7.4