/* global */

:root {
    --main-content-width: 900px;
}

.hide {
    display: none !important;
}

/* app网页全屏 */
.gradio-container {
    padding: 0 !important;
    position: none !important;
}

.app {
    max-width: 100% !important;
}

.app .contain {
    display: flex;
}

/* 隐藏Gradio底部 */
footer {
    visibility: hidden;
    margin: 0 !important;
    height: 0 !important;
}

.importantButton {
    background: linear-gradient(45deg, #7e0570, #5d1c99, #6e00ff) !important;
    border: none !important;
}

.importantButton:hover {
    background: linear-gradient(45deg, #ff00e0, #8500ff, #6e00ff) !important;
    border: none !important;
}

/* main */

#main {
    padding-bottom: 25px;
    flex-grow: 1;
    padding: 0;
    gap: 0px;
    display: flex;
}

/* main_sider */

#main_sider {
    flex-grow: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid #f3f4f6;
}

#main_sider #plugin_choice_wrap {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_sider #plugin_choice {
    margin-top: 10px;
}

#main_sider #plugin_choice label {
    display: flex;
    flex-direction: row;
}

#main_sider #plugin_choice label span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
}

#main_sider #plugin_choice .wrap-inner {
    padding: 0;
}

#main_sider #plugin_ui {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

#plugin_ui>.block {
    border-style: none !important;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

#main_sider .form {
    border-radius: 0;
    flex-grow: 0;
}

#main_sider .form #mode_choice .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* main_content */

#main_content {
    flex-grow: 1 !important;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

#main_content #main_content_header {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f3f4f6;
}

#main_content #main_content_header #model_info {
    width: 200px;
}

#main_content #model_choice {
    width: 200px;
    flex-grow: none;
}

#main_content #model_choice label {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_content #model_choice label span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 10px;
}

#main_content .form {
    width: var(--main-content-width);
}

#chatbot {
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    box-shadow: none;
    width: var(--main-content-width);
}

#chatbot .user {
    text-align: left;
}

#input_box textarea {
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#model_info {
    width: var(--main-content-width);
}

/* main_config */
#main_config {
    flex-grow: 1 !important;
    padding: 40px !important;
}

#main_config .tabs {
    height: 100%;
}

#main_config .tabs #model_config {
    height: 98%;
}

#model_config #model_choice {
    width: 400px;
}

#model_config #model_config_save {
    margin-top: 20px;
}

#main_config .tabs #system_config {
    height: 98%;
}

#system_config {
    margin-bottom: 20px;
}